<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-settlement-batch-heading" data-cy="SettlementBatchCreateUpdateHeading">Create or edit a Settlement Batch</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let referenceRef = editForm.get('reference')!;
        <div class="mb-3">
          <label class="form-label" for="field_reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
          @if (referenceRef.invalid && (referenceRef.dirty || referenceRef.touched)) {
            <div>
              @if (referenceRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-select" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (settlementBatchStatus of settlementBatchStatusValues; track $index) {
              <option [value]="settlementBatchStatus">
                {{
                  { null: '', SCHEDULED: 'SCHEDULED', PROCESSING: 'PROCESSING', COMPLETED: 'COMPLETED', FAILED: 'FAILED' }[
                    settlementBatchStatus
                  ]
                }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (statusRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let totalAmountRef = editForm.get('totalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (totalAmountRef.invalid && (totalAmountRef.dirty || totalAmountRef.touched)) {
            <div>
              @if (totalAmountRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!totalAmountRef.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        @let currencyCodeRef = editForm.get('currencyCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_currencyCode">Currency Code</label>
          <input
            type="text"
            class="form-control"
            name="currencyCode"
            id="field_currencyCode"
            data-cy="currencyCode"
            formControlName="currencyCode"
          />
          @if (currencyCodeRef.invalid && (currencyCodeRef.dirty || currencyCodeRef.touched)) {
            <div>
              @if (currencyCodeRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let scheduledAtRef = editForm.get('scheduledAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_scheduledAt">Scheduled At</label>
          <div class="d-flex">
            <input
              id="field_scheduledAt"
              data-cy="scheduledAt"
              type="datetime-local"
              class="form-control"
              name="scheduledAt"
              formControlName="scheduledAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (scheduledAtRef.invalid && (scheduledAtRef.dirty || scheduledAtRef.touched)) {
            <div>
              @if (scheduledAtRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!scheduledAtRef.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_completedAt">Completed At</label>
          <div class="d-flex">
            <input
              id="field_completedAt"
              data-cy="completedAt"
              type="datetime-local"
              class="form-control"
              name="completedAt"
              formControlName="completedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenant">Tenant</label>
          <select
            class="form-select"
            id="field_tenant"
            data-cy="tenant"
            name="tenant"
            formControlName="tenant"
            [compareWith]="compareCorporateTenant"
          >
            @if (!editForm.get('tenant')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (corporateTenantOption of corporateTenantsSharedCollection(); track $index) {
              <option [ngValue]="corporateTenantOption">{{ corporateTenantOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)) {
          <div>
            @if (editForm.get(['tenant'])?.errors?.required) {
              <small class="form-text text-danger">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
