<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (apiKey(); as apiKeyRef) {
      <div>
        <h2 data-cy="apiKeyDetailsHeading"><span>Api Key</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ apiKeyRef.id }}</span>
          </dd>
          <dt><span>Key Prefix</span></dt>
          <dd>
            <span>{{ apiKeyRef.keyPrefix }}</span>
          </dd>
          <dt><span>Key Hash</span></dt>
          <dd>
            <span>{{ apiKeyRef.keyHash }}</span>
          </dd>
          <dt><span>Environment</span></dt>
          <dd>
            <span>{{ { null: '', TEST: 'TEST', LIVE: 'LIVE' }[apiKeyRef.environment ?? 'null'] }}</span>
          </dd>
          <dt><span>Is Active</span></dt>
          <dd>
            <span>{{ apiKeyRef.isActive }}</span>
          </dd>
          <dt><span>Issued At</span></dt>
          <dd>
            <span>{{ apiKeyRef.issuedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Revoked At</span></dt>
          <dd>
            <span>{{ apiKeyRef.revokedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Grace Expires At</span></dt>
          <dd>
            <span>{{ apiKeyRef.graceExpiresAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Tenant</span></dt>
          <dd>
            @if (apiKey()!.tenant) {
              <div>
                <a [routerLink]="['/corporate-tenant', apiKey()!.tenant?.id, 'view']">{{ apiKeyRef.tenant?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/api-key', apiKeyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
