<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tenant-domain-heading" data-cy="TenantDomainCreateUpdateHeading">Create or edit a Tenant Domain</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let customDomainRef = editForm.get('customDomain')!;
        <div class="mb-3">
          <label class="form-label" for="field_customDomain">Custom Domain</label>
          <input
            type="text"
            class="form-control"
            name="customDomain"
            id="field_customDomain"
            data-cy="customDomain"
            formControlName="customDomain"
          />
          @if (customDomainRef.invalid && (customDomainRef.dirty || customDomainRef.touched)) {
            <div>
              @if (customDomainRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_supportedLocales">Supported Locales</label>
          <input
            type="text"
            class="form-control"
            name="supportedLocales"
            id="field_supportedLocales"
            data-cy="supportedLocales"
            formControlName="supportedLocales"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_defaultLocale">Default Locale</label>
          <input
            type="text"
            class="form-control"
            name="defaultLocale"
            id="field_defaultLocale"
            data-cy="defaultLocale"
            formControlName="defaultLocale"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fallbackLocale">Fallback Locale</label>
          <input
            type="text"
            class="form-control"
            name="fallbackLocale"
            id="field_fallbackLocale"
            data-cy="fallbackLocale"
            formControlName="fallbackLocale"
          />
        </div>

        @let isVerifiedRef = editForm.get('isVerified')!;
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="isVerified"
            id="field_isVerified"
            data-cy="isVerified"
            formControlName="isVerified"
          />
          <label class="form-check-label" for="field_isVerified">Is Verified</label>
          @if (isVerifiedRef.invalid && (isVerifiedRef.dirty || isVerifiedRef.touched)) {
            <div>
              @if (isVerifiedRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenant">Tenant</label>
          <select
            class="form-select"
            id="field_tenant"
            data-cy="tenant"
            name="tenant"
            formControlName="tenant"
            [compareWith]="compareCorporateTenant"
          >
            @if (editForm.get(['tenant'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (corporateTenantOption of corporateTenantsSharedCollection(); track $index) {
              <option [ngValue]="corporateTenantOption">{{ corporateTenantOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)) {
          <div>
            @if (editForm.get(['tenant'])?.errors?.required) {
              <small class="form-text text-danger">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
