<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-method-heading" data-cy="PaymentMethodCreateUpdateHeading">Create or edit a Payment Method</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeRef = editForm.get('code')!;
        <div class="mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (codeRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let displayNameRef = editForm.get('displayName')!;
        <div class="mb-3">
          <label class="form-label" for="field_displayName">Display Name</label>
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="field_displayName"
            data-cy="displayName"
            formControlName="displayName"
          />
          @if (displayNameRef.invalid && (displayNameRef.dirty || displayNameRef.touched)) {
            <div>
              @if (displayNameRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let categoryRef = editForm.get('category')!;
        <div class="mb-3">
          <label class="form-label" for="field_category">Category</label>
          <select class="form-select" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null"></option>
            @for (paymentMethodCategory of paymentMethodCategoryValues; track $index) {
              <option [value]="paymentMethodCategory">
                {{
                  { null: '', CARD: 'CARD', BANK_TRANSFER: 'BANK_TRANSFER', MOBILE_MONEY: 'MOBILE_MONEY', USSD: 'USSD', WALLET: 'WALLET' }[
                    paymentMethodCategory
                  ]
                }}
              </option>
            }
          </select>
          @if (categoryRef.invalid && (categoryRef.dirty || categoryRef.touched)) {
            <div>
              @if (categoryRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
