<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (settlementBatch(); as settlementBatchRef) {
      <div>
        <h2 data-cy="settlementBatchDetailsHeading"><span>Settlement Batch</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ settlementBatchRef.id }}</span>
          </dd>
          <dt><span>Reference</span></dt>
          <dd>
            <span>{{ settlementBatchRef.reference }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              { null: '', SCHEDULED: 'SCHEDULED', PROCESSING: 'PROCESSING', COMPLETED: 'COMPLETED', FAILED: 'FAILED' }[
                settlementBatchRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Total Amount</span></dt>
          <dd>
            <span>{{ settlementBatchRef.totalAmount }}</span>
          </dd>
          <dt><span>Currency Code</span></dt>
          <dd>
            <span>{{ settlementBatchRef.currencyCode }}</span>
          </dd>
          <dt><span>Scheduled At</span></dt>
          <dd>
            <span>{{ settlementBatchRef.scheduledAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Completed At</span></dt>
          <dd>
            <span>{{ settlementBatchRef.completedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Tenant</span></dt>
          <dd>
            @if (settlementBatch()!.tenant) {
              <div>
                <a [routerLink]="['/corporate-tenant', settlementBatch()!.tenant?.id, 'view']">{{ settlementBatchRef.tenant?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/settlement-batch', settlementBatchRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
