<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-webhook-subscription-heading" data-cy="WebhookSubscriptionCreateUpdateHeading">Create or edit a Webhook Subscription</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let targetUrlRef = editForm.get('targetUrl')!;
        <div class="mb-3">
          <label class="form-label" for="field_targetUrl">Target Url</label>
          <input type="text" class="form-control" name="targetUrl" id="field_targetUrl" data-cy="targetUrl" formControlName="targetUrl" />
          @if (targetUrlRef.invalid && (targetUrlRef.dirty || targetUrlRef.touched)) {
            <div>
              @if (targetUrlRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let secretHashRef = editForm.get('secretHash')!;
        <div class="mb-3">
          <label class="form-label" for="field_secretHash">Secret Hash</label>
          <input
            type="text"
            class="form-control"
            name="secretHash"
            id="field_secretHash"
            data-cy="secretHash"
            formControlName="secretHash"
          />
          @if (secretHashRef.invalid && (secretHashRef.dirty || secretHashRef.touched)) {
            <div>
              @if (secretHashRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="isActive"
            id="field_isActive"
            data-cy="isActive"
            formControlName="isActive"
          />
          <label class="form-check-label" for="field_isActive">Is Active</label>
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (isActiveRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenant">Tenant</label>
          <select
            class="form-select"
            id="field_tenant"
            data-cy="tenant"
            name="tenant"
            formControlName="tenant"
            [compareWith]="compareCorporateTenant"
          >
            @if (!editForm.get('tenant')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (corporateTenantOption of corporateTenantsSharedCollection(); track $index) {
              <option [ngValue]="corporateTenantOption">{{ corporateTenantOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)) {
          <div>
            @if (editForm.get(['tenant'])?.errors?.required) {
              <small class="form-text text-danger">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
