<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (amlCheck(); as amlCheckRef) {
      <div>
        <h2 data-cy="amlCheckDetailsHeading"><span>Aml Check</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ amlCheckRef.id }}</span>
          </dd>
          <dt><span>Risk Score</span></dt>
          <dd>
            <span>{{ amlCheckRef.riskScore }}</span>
          </dd>
          <dt><span>Decision</span></dt>
          <dd>
            <span>{{
              { null: '', ALLOW: 'ALLOW', CHALLENGE: 'CHALLENGE', REJECT: 'REJECT', TIER_REVIEW: 'TIER_REVIEW' }[
                amlCheckRef.decision ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Rule Triggered</span></dt>
          <dd>
            <span>{{ amlCheckRef.ruleTriggered }}</span>
          </dd>
          <dt><span>Checked At</span></dt>
          <dd>
            <span>{{ amlCheckRef.checkedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Tenant</span></dt>
          <dd>
            @if (amlCheck()!.tenant) {
              <div>
                <a [routerLink]="['/corporate-tenant', amlCheck()!.tenant?.id, 'view']">{{ amlCheckRef.tenant?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Transaction</span></dt>
          <dd>
            @if (amlCheck()!.transaction) {
              <div>
                <a [routerLink]="['/transaction', amlCheck()!.transaction?.id, 'view']">{{ amlCheckRef.transaction?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aml-check', amlCheckRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
