<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dispute-heading" data-cy="DisputeCreateUpdateHeading">Create or edit a Dispute</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let caseReferenceRef = editForm.get('caseReference')!;
        <div class="mb-3">
          <label class="form-label" for="field_caseReference">Case Reference</label>
          <input
            type="text"
            class="form-control"
            name="caseReference"
            id="field_caseReference"
            data-cy="caseReference"
            formControlName="caseReference"
          />
          @if (caseReferenceRef.invalid && (caseReferenceRef.dirty || caseReferenceRef.touched)) {
            <div>
              @if (caseReferenceRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let amountRef = editForm.get('amount')!;
        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (amountRef.invalid && (amountRef.dirty || amountRef.touched)) {
            <div>
              @if (amountRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!amountRef.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        @let currencyCodeRef = editForm.get('currencyCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_currencyCode">Currency Code</label>
          <input
            type="text"
            class="form-control"
            name="currencyCode"
            id="field_currencyCode"
            data-cy="currencyCode"
            formControlName="currencyCode"
          />
          @if (currencyCodeRef.invalid && (currencyCodeRef.dirty || currencyCodeRef.touched)) {
            <div>
              @if (currencyCodeRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let reasonCodeRef = editForm.get('reasonCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_reasonCode">Reason Code</label>
          <input
            type="text"
            class="form-control"
            name="reasonCode"
            id="field_reasonCode"
            data-cy="reasonCode"
            formControlName="reasonCode"
          />
          @if (reasonCodeRef.invalid && (reasonCodeRef.dirty || reasonCodeRef.touched)) {
            <div>
              @if (reasonCodeRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reasonDescription">Reason Description</label>
          <input
            type="text"
            class="form-control"
            name="reasonDescription"
            id="field_reasonDescription"
            data-cy="reasonDescription"
            formControlName="reasonDescription"
          />
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-select" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (disputeStatus of disputeStatusValues; track $index) {
              <option [value]="disputeStatus">
                {{
                  {
                    null: '',
                    OPEN: 'OPEN',
                    EVIDENCE_SUBMITTED: 'EVIDENCE_SUBMITTED',
                    UNDER_REVIEW: 'UNDER_REVIEW',
                    WON: 'WON',
                    LOST: 'LOST',
                    CLOSED: 'CLOSED',
                  }[disputeStatus]
                }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (statusRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let dueDateRef = editForm.get('dueDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dueDateRef.invalid && (dueDateRef.dirty || dueDateRef.touched)) {
            <div>
              @if (dueDateRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!dueDateRef.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_evidenceSubmittedAt">Evidence Submitted At</label>
          <div class="d-flex">
            <input
              id="field_evidenceSubmittedAt"
              data-cy="evidenceSubmittedAt"
              type="datetime-local"
              class="form-control"
              name="evidenceSubmittedAt"
              formControlName="evidenceSubmittedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_resolvedAt">Resolved At</label>
          <div class="d-flex">
            <input
              id="field_resolvedAt"
              data-cy="resolvedAt"
              type="datetime-local"
              class="form-control"
              name="resolvedAt"
              formControlName="resolvedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenant">Tenant</label>
          <select
            class="form-select"
            id="field_tenant"
            data-cy="tenant"
            name="tenant"
            formControlName="tenant"
            [compareWith]="compareCorporateTenant"
          >
            @if (!editForm.get('tenant')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (corporateTenantOption of corporateTenantsSharedCollection(); track $index) {
              <option [ngValue]="corporateTenantOption">{{ corporateTenantOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)) {
          <div>
            @if (editForm.get(['tenant'])?.errors?.required) {
              <small class="form-text text-danger">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_transaction">Transaction</label>
          <select
            class="form-select"
            id="field_transaction"
            data-cy="transaction"
            name="transaction"
            formControlName="transaction"
            [compareWith]="compareTransaction"
          >
            @if (!editForm.get('transaction')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (transactionOption of transactionsSharedCollection(); track $index) {
              <option [ngValue]="transactionOption">{{ transactionOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['transaction'])!.invalid && (editForm.get(['transaction'])!.dirty || editForm.get(['transaction'])!.touched)) {
          <div>
            @if (editForm.get(['transaction'])?.errors?.required) {
              <small class="form-text text-danger">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
