<div>
  <h2 id="page-heading" data-cy="TenantDomainHeading">
    <span>Tenant Domains</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tenant-domain"
        [routerLink]="['/tenant-domain/new']"
      >
        <fa-icon icon="plus" />
        <span>Create a new Tenant Domain</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (tenantDomains().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Tenant Domains found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="customDomain">
              <div class="d-flex">
                <span>Custom Domain</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="supportedLocales">
              <div class="d-flex">
                <span>Supported Locales</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isVerified">
              <div class="d-flex">
                <span>Is Verified</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tenant.id">
              <div class="d-flex">
                <span>Tenant</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tenantDomain of tenantDomains(); track trackId(tenantDomain)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tenant-domain', tenantDomain.id, 'view']">{{ tenantDomain.id }}</a>
              </td>
              <td>{{ tenantDomain.customDomain }}</td>
              <td>{{ tenantDomain.supportedLocales }}</td>
              <td>{{ tenantDomain.isVerified }}</td>
              <td>
                @if (tenantDomain.tenant) {
                  <div>
                    <a [routerLink]="['/corporate-tenant', tenantDomain.tenant.id, 'view']">{{ tenantDomain.tenant.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tenant-domain', tenantDomain.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/tenant-domain', tenantDomain.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="button" (click)="delete(tenantDomain)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tenantDomains().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
